html, body, h3 {
    padding: 0;
    margin: 0;
}

h3 {
    text-align: center;
    padding: 10px 0px;
}

.container {
    background-image: url(https://img.freepik.com/free-vector/gradient-grainy-gradient-texture_79603-1642.jpg?w=2000);
}

.people{
    background-color: blanchedalmond;
    padding: 10px 20px;
    margin: 0px 50px;
}

.people img {
    height: 150px;
    margin: 5px 15px;
}